.image {
    opacity: 0.8;
    background-position: center center;
     padding: 0;
   background-position: center center;
   background-color: #fff;
    display: inline-block;
    background-repeat: no-repeat;
    margin: 10px;
}
.image:hover {
    opacity: 1;
}
.radio-img > input {
    display: none;
}
.radio-img > .image {
    cursor: pointer;
    border-radius: 5px;
}
.radio-img > input:checked + .image {
    border: 2px solid #66cc33;
}